/* reset  */
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* general  */

:root {
  --land: #001f3f;
  --bg-color: #e0e5ec;
  --white: #fff;
}

:root {
  --shadow-color: 227deg 19% 34%;

  --shadow-elevation-medium: 0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.36),
    1.1px 1.6px 2.2px -0.8px hsl(var(--shadow-color) / 0.36),
    2.8px 4.1px 5.6px -1.7px hsl(var(--shadow-color) / 0.36),
    6.9px 10px 13.7px -2.5px hsl(var(--shadow-color) / 0.36);
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--bg-color);
}

main {
  /* background-image: url("./assets/world-high.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-color: var(--sea); */
  display: grid;
  justify-items: center;
  margin-bottom: var(--footer-height);
}

header .logo {
  width: clamp(150px, 20vw, 250px);
}

.headerWrapper,
.footerWrapper {
  width: 100%;
  background-color: var(--land);
  position: fixed;
  z-index: 1;
  display: flex;
  justify-content: center;
}

header,
footer {
  position: fixed;
  max-width: 1200px;
  min-width: 400px;
  width: 100%;
}

header {
  height: max-content;
  top: 0;
  padding: 10px;
}

.headerWrapper {
  top: 0;
  height: var(--header-height);
}

footer,
.footerWrapper {
  bottom: 0;
  height: var(--header-height);
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
}

footer > a {
  text-decoration: none;
  font-size: clamp(1rem, 2vw, 1.5rem);
  border-radius: 5px;
  padding: 0 10px;
  color: var(--white);
}

footer > a:hover {
  background-color: var(--bg-color);
  color: var(--land);
}
.container {
  width: 100%;
  max-width: 1200px;
  min-width: 300px;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-top: var(--header-height);
  margin-bottom: var(--footer-height);
}

h2 {
  margin-top: 30px;
  margin-bottom: 10px;
  padding: 0 10px;
  border-radius: 5px;
  font-size: clamp(1.5rem, 3vw, 1.8rem);
}

.game {
  display: flex;
  gap: 50px;
  padding: 0 10px;
}

/* gameboard  */

.game-container {
  width: 100%;
  display: grid;
  grid-template:
    ".... col-indices " 20px
    "row-indices board " 1fr/ 20px 1fr;
  gap: clamp(5px, 0.5vw, 10px);
  padding: clamp(5px, 1.2vw, 20px);
  border-radius: 15px;
  position: relative;
  background-color: var(--land);
  box-shadow: var(--shadow-elevation-medium);
}

.row-indices {
  grid-area: row-indices;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.index {
  width: clamp(20px, 3vw, 45px);
  height: clamp(20px, 3vw, 45px);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: clamp(1rem, 1.5vw, 1.5rem);
  color: var(--white);
}

.col-indices {
  grid-area: col-indices;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.board {
  grid-area: board;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  position: relative;
  border-collapse: collapse;
  background-color: var(--white);
}

.ship {
  position: absolute;
  will-change: transform;
  transition: width 0.2s ease, height 0.2s ease;
}

.cell {
  border: 1px solid #ccc;
}

.human,
.ai {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: clamp(10px, 1.5vw, 20px);
}

.player {
  font-size: clamp(1.2rem, 2vw, 1.7rem);
}
.options {
  display: flex;
  gap: clamp(10px, 1.5vw, 20px);
}
.options button {
  padding: clamp(4px, 1vw, 8px) 4px;
  width: clamp(110px, 12.5vw, 150px);
  border: none;
  border-radius: 5px;
  font-size: clamp(1rem, 1.6vw, 1.3rem);
  background: #1e3d59;
  color: white;
  cursor: pointer;
  position: relative;
  display: inline-block;
  outline: none;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease, box-shadow 0.3s ease, width 0.2s ease,
    background 0.3s ease;
}

.options button::before,
.options button::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 0;
  background: hotpink;
  transition: width 0.3s ease;
}

.options button::before {
  top: 0;
  left: 0;
}

.options button::after {
  bottom: 0;
  right: 0;
}

.options button:hover {
  box-shadow: 4px 4px 6px rgba(116, 125, 136, 0.5),
    -4px -4px 6px rgba(255, 255, 255, 0.5);
  background: transparent;
  color: #001f3f;
}

.options button:hover::before,
.options button:hover::after {
  width: 100%;
}

/* media query  */

@media only screen and (max-width: 800px) {
  .game {
    flex-direction: column;
  }

  .index {
    width: clamp(20px, 8vw, 45px);
    height: clamp(20px, 8vw, 45px);
    font-size: clamp(1rem, 3vw, 1.5rem);
    color: var(--white);
  }
  .player {
    font-size: clamp(1.2rem, 5vw, 1.7rem);
  }

  .options button {
    font-size: clamp(1.1rem, 2.5vw, 1.5rem);
    width: clamp(100px, 35vw, 150px);
    padding: clamp(4px, 1vw, 8px) 3px;
  }

  .game-container {
    padding: clamp(5px, 2vw, 20px);
  }
}
