/* reset  */
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* general  */

:root {
  --land: #001f3f;
  --bg-color: #e0e5ec;
  --white: #fff;
}

:root {
  --shadow-color: 227deg 19% 34%;
  --shadow-elevation-low: 0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.34),
    0.4px 0.8px 1px -1.2px hsl(var(--shadow-color) / 0.34),
    1px 2px 2.5px -2.5px hsl(var(--shadow-color) / 0.34);
  --shadow-elevation-medium: 0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.36),
    0.8px 1.6px 2px -0.8px hsl(var(--shadow-color) / 0.36),
    2.1px 4.1px 5.2px -1.7px hsl(var(--shadow-color) / 0.36),
    5px 10px 12.6px -2.5px hsl(var(--shadow-color) / 0.36);
  --shadow-elevation-high: 0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.34),
    1.5px 2.9px 3.7px -0.4px hsl(var(--shadow-color) / 0.34),
    2.7px 5.4px 6.8px -0.7px hsl(var(--shadow-color) / 0.34),
    4.5px 8.9px 11.2px -1.1px hsl(var(--shadow-color) / 0.34),
    7.1px 14.3px 18px -1.4px hsl(var(--shadow-color) / 0.34),
    11.2px 22.3px 28.1px -1.8px hsl(var(--shadow-color) / 0.34),
    17px 33.9px 42.7px -2.1px hsl(var(--shadow-color) / 0.34),
    25px 50px 62.9px -2.5px hsl(var(--shadow-color) / 0.34);
}

body {
  margin: 0;
  padding: 0;
  overflow-y: scroll;
}
body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-track {
  background: transparent;
}

body::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 20px;
}

body::-webkit-scrollbar-thumb:hover {
  background: #555;
}

main {
  display: grid;
  justify-items: center;
  margin-bottom: var(--footer-height);
}

header .logo {
  width: clamp(150px, 20vw, 250px);
}

.headerWrapper {
  width: 100%;
  z-index: 1;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  height: var(--header-height);
  background: white;
}

header {
  max-width: 1200px;
  min-width: 400px;
  width: 100%;
  position: fixed;
  height: max-content;
  top: 0;
  padding: 10px 20px;
  border-bottom: 2px solid var(--bg-color);
  background: white;
}

.intro p {
  font-size: clamp(1rem, 1vw, 1.3rem);
}
.wiki-link {
  /* text-decoration: none; */
  cursor: pointer;
  font-weight: 600;
  color: #ff6b6b;
}

.wiki-link:hover {
  text-decoration: none;
}

.container {
  width: 100%;
  max-width: 1200px;
  min-width: 300px;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-top: var(--header-height);
  margin-bottom: var(--footer-height);
  /* background-color: var(--bg-color); */
}

.gameStatus {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  margin-top: 30px;
  margin-bottom: 10px;
  padding: 0 10px;
  width: 100%;
  width: var(--game-width);
  min-width: 300px;
}

h2 {
  font-size: clamp(1.5rem, 3vw, 1.8rem);
}

.gameLog {
  display: flex;
  flex-direction: column;
  align-items: end;
  font-size: clamp(1rem, 2vw, 1.3rem);
  font-weight: 600;
}

.game {
  display: flex;

  gap: 50px;
  padding: 0 10px;
}

/* gameboard  */

.game-container {
  width: 100%;
  display: grid;
  grid-template:
    ".... col-indices " 20px
    "row-indices board " 1fr/ 20px 1fr;
  gap: clamp(5px, 0.5vw, 10px);
  padding: clamp(5px, 1.2vw, 20px);
  border-radius: 15px;
  position: relative;
  background-color: var(--land);
  box-shadow: var(--shadow-elevation-medium);
}

.row-indices {
  grid-area: row-indices;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.index {
  width: clamp(20px, 3vw, 45px);
  height: clamp(20px, 3vw, 45px);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: clamp(1rem, 1.5vw, 1.5rem);
  color: var(--white);
}

.col-indices {
  grid-area: col-indices;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.board {
  grid-area: board;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  position: relative;
  border-collapse: collapse;
  background-color: var(--white);
}

.ship {
  position: absolute;
  will-change: transform;
  transition: width 0.2s ease, height 0.2s ease;
}

.ship.ai-ship {
  opacity: 0;
  pointer-events: none;
}
.ship.ai-ship.sink {
  opacity: 1;

  pointer-events: auto;
}

.ship.sink {
  fill: #000000;
  filter: grayscale(100%);
}

.cell {
  border: 1px solid #ccc;
  position: relative;
}

.cell.miss::after {
  content: "";
  display: block;
  width: 25%;
  height: 25%;
  background-color: slategray;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.cell.hit::before,
.cell.hit::after {
  content: "";
  display: block;
  width: 2px;
  height: 100%;
  background-color: var(--land);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.cell.hit::before {
  transform: translate(-50%, -50%) rotate(45deg);
}
.cell.hit::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.human,
.ai {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: clamp(10px, 1.5vw, 20px);
}

.player {
  font-size: clamp(1.2rem, 2vw, 1.7rem);
}
.options {
  justify-self: center;
  align-self: flex-start;
  align-items: center;
  display: flex;
  gap: clamp(10px, 1.5vw, 20px);
}
.options button {
  padding: 4px 8px;
  width: clamp(110px, 10vw, 140px);
  font-size: clamp(1rem, 1.5vw, 1.5rem);
  border: none;
  border-radius: 5px;
  background: #1e3d59;
  color: white;
  cursor: pointer;
  position: relative;
  display: inline-block;
  outline: none;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.options button::before,
.options button::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 0;
  background: hotpink;
  transition: width 0.3s ease;
}

.options button::before {
  top: 0;
  left: 0;
}

.options button::after {
  bottom: 0;
  right: 0;
}

.options button:hover {
  box-shadow: 4px 4px 6px rgba(116, 125, 136, 0.5),
    -4px -4px 6px rgba(255, 255, 255, 0.5);
  background: transparent;
  color: #001f3f;
}

.options button:hover::before,
.options button:hover::after {
  width: 100%;
}

.sound {
  width: clamp(1.5rem, 3vw, 2.5rem);
  cursor: pointer;
}

.game-control {
  width: var(--game-width);
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;

  margin-bottom: var(--header-height);
}

.intro-log {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0 10px;
}

.ship-log {
  display: none;
  /* display: flex; */
  flex-direction: column;
}

/* modal  */
.modal {
  display: none;
  position: fixed;
  z-index: 3;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: clamp(250px, 30vw, 330px);
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: grid;
  justify-items: start;
  gap: 10px;
}

#close-btn {
  justify-self: flex-end;
  font-size: 2rem;
  line-height: 0.5;
  cursor: pointer;
  color: #1e3d59;
}

.modal-content h2 {
  color: #1e3d59;
}
#playAgain {
  padding: 3px 10px;
  border: none;
  border-radius: 5px;
  font-size: clamp(1rem, 2vw, 1.3rem);
  background: #1e3d59;
  color: white;
  cursor: pointer;
  position: relative;
  display: inline-block;
  outline: none;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

/* media query  */

@media only screen and (max-width: 800px) {
  .game {
    flex-direction: column;
  }

  .index {
    width: clamp(20px, 8vw, 45px);
    height: clamp(20px, 8vw, 45px);
    font-size: clamp(1rem, 3vw, 1.5rem);
    color: var(--white);
  }
  .player {
    font-size: clamp(1.2rem, 5vw, 1.7rem);
  }

  .options button {
    font-size: clamp(1rem, 3vw, 1.4rem);
    width: clamp(100px, 20vw, 130px);
    padding: 4px 8px;
  }

  .game-container {
    padding: clamp(5px, 2vw, 20px);
  }

  .game-control {
    grid-template-columns: 1fr;
    gap: 20px;
    margin-top: 30px;
  }
  .sound {
    width: clamp(1.5rem, 4vw, 2.5rem);
  }
}

@media only screen and (max-width: 500px) {
  .gameStatus {
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 0;
  }

  .gameLog {
    align-self: flex-end;
    order: 1;
    line-height: 1;
  }
  .gameStatus h2 {
    order: 2;
  }
}

@media (hover: none) {
  .options button::before,
  .options button::after {
    content: none;
  }

  .options button:focus {
    box-shadow: 4px 4px 6px rgba(116, 125, 136, 0.5),
      -4px -4px 6px rgba(255, 255, 255, 0.5);
    transform: box-shadow 0.3s ease;
  }
}
